html{
    background: rgb(248, 248, 248);
    color: #252525;
}

#txt{
    width: 800px;
    font-size: 45px;
}

#txt2{
    height: 100px;
    font-size: 45px;
}

#tname{
    font-size: 40px;
    margin-left: 352px;
    width: 408px;
    height: 60px;
    margin-top: 15px;
}

#mainb{
    background: url(pkmn.jpg);
    background-repeat: no-repeat;
    background-size: 800px 800px;
    position: absolute;
    color: #252525;
}

body{
    font-family: 'Press Start 2P', cursive;
    color: #252525;
}
/*the statbox will hold all items including, img, name,atk, def, hp*/
#statbox {
padding: 25px;
background: url(pkmn.jpg);
background-repeat: no-repeat;
background-size: 800px 800px;
background-color: rgb(248, 248, 248);

}
#statbox2 {
    width: 1400px;
    height: 720px;
    position: relative;
    color: #252525;
    margin-left: -26px;
    margin-top: 56px;
}

/* this is the container that will hold the img and the Pokemon name*/
#pkmngif{
    width: 280px;
    height: 280px;
    color: black;
    display: flex;
    position: absolute;
    font-size: 5px;
    background-color: olive;
}
#infobox{
    width:100%;
    height: 739px;
    background: rgb(248, 248, 248);;
    display: flex;
    margin-left: 531px;
    font-size: 50px;
    margin-top: -31px;
}


header.pname{
    font-size: 40px;
    width: 408px;
    height: 60px;
    text-transform: uppercase;

}



header.pname2{
    font-size: 40px;
   
    width: 408px;
    height: 60px;
  
}


/*i've created this div in order to hold the name of the pokemon*/
div.pkmnname{
    height: 60px;
    width: 398px;
    font-size: 50px;
    padding: 10px 0px 0px 50px;
    font-family: 'Press Start 2P', cursive;

}
#nxtbtn{
    font-size: 25px;
    margin-top: -31px;
}

#pkmnstats{
    width: 333px;
    height: 322px;
    /*background-color: rgba(71, 61, 139, 0.459);*/
    margin-top: 217px;
    position: relative;
    
}

section.barone{
    width: 320px;
    background-color: rgba(128, 128, 128, 0.233);
    border: 1px solid black;
    margin-top: 128px;
    height: 17px;
    position: absolute;
    margin-top: 336px;
    margin-left: 44px;
    font-size: 14px;
}

section.bartwo{
    width: 320px;
    background-color: rgba(128, 128, 128, 0.233);
    border: 1px solid black;
    margin-top: 416px;
    margin-left: 44px;
    height: 17px;
    position: absolute;
    font-size: 14px;
    

}

section.hitpoints{
    width: 240px;
    background-color: plum;
    border: 1px solid black;
    height: 13px;
    position: absolute;
    margin-top: 74px;
    margin-left: 520px;
}

section.abilitybar{
    width: 320px;
    border: 1px solid black;
    background-color: rgba(71, 61, 139, 0.459);
    position: absolute;
    margin-top: 480px;
    margin-left: 52px;
    height: 135px;
    padding-left: 10px;
    font-size: 25px;
}

#abs{
    font-size: 41px;
    margin-top: 26px;
}
div.atkbar{
    background-color: firebrick;
    text-align: right;
    padding-right: 2px;
    color: whitesmoke;
    height: 15px;
}

div.defbar{
    background-color: dodgerblue;
    text-align: right;
    padding-right: 2px;
    color:whitesmoke;
    height: 15px;

}
section.defbar{
    background-color: dodgerblue;
    text-align: right;
    padding-right: 2px;
    color:whitesmoke;

}

section.hpbar{
    display: flex;
    align-items: flex-end;
    width: 239px;
    height: 11px;
    background-color: plum;
    margin-left: 486px;
    position: relative;
    margin-top: 115px;
}

div.hp{
    background-color:#04F404;
    height: 11px;
    font-size: 11px;
    text-align: right;
}

section#hitpoints {
    display: flex;
    align-items: flex-end;
    width: 239px;
    height: 36px;
    margin-left: 475px;
    position: relative;
    margin-top: 30px;
    font-size: 44px;
    text-align: right;
}

 div.row{
    color: #252525;
    font-size: 50px;
}

#pkmngif2{
    width: 800px;
    height: 740px;
    display: flex;
    position: absolute;
    font-size: 5px;
}

img.train{
    width: 280px;
    height: 240px;
}

#wt{
    width: 800px;
    padding: 0 10px 0 10px;
    border: solid #252525 10px;}

#wt1{
    display: flex;
    width: 800px;
    padding: 0 10px 0 10px;
    border: solid #252525 10px;
    margin-left: 22px;
    background: url(pkmn.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #252525;
    }

#wt2{
width: 800px;
height: 100%;
padding: 0 10px 0 10px;
border: solid #252525 10px;
display: flex;
margin-left: 25px;
}

section.abitxt{
    position: absolute;
    font-size: 40px;
    margin-top: 434px;
    margin-left: 53px;
}

section.no{
    position: absolute;
    font-size: 34px;
    margin-top: 213px;
    margin-left: 123px;

}

section.pkimg{
    margin-top: -40px;
    width: 280px;
    height: 280px;
    margin-left: 10px;
}

section.pkimg2{
    width: 280px;
    height: 280px;
}

span.lvl{
    position: absolute;
    font-size: 40px;
    width: 408px;
    height: 60px;
    margin-left: 10px;
}
span.lvl2{
    position: absolute;
    font-size: 40px;
    margin-left: 448px;
    width: 408px;
    height: 60px;
    text-transform: capitalize;
}

section.type{
    width: 300px;
    height: 45px;
    position: absolute;
    margin-top: 338px;
    margin-left: 454px;
    font-size: 40px;

}

img.pkball{
    width: 100px;
    height: 100px;

}

section.pkbt {
    position: absolute;
    margin-top: 523px;
    margin-left: 681px;
}

section.pkbt a {
    display: block;
}

section.pkbt a:hover{
    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: infinite;
}

@keyframes shake{
    20% {
        transform: translateY(0px);
    
    }
    40% {
        transform: translateY(-15px);
    
    }
    60% {
        transform: translateY(0px);
    
    }
    80% {
        transform: translateY(-10px);
    
    }
    100% {
        transform: translateY(0px);
    
    }
}

footer{
    font-size: 10px;
    color:#252525;
    text-align: center;
    opacity: .5;
}

ul.navb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul{
    list-style-type: none;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


#infobox2{
    width:100%;
    height: 739px;
    background: rgb(248, 248, 248);;
    display: flex;
    font-size: 50px; 
    margin-top: 10px;
}

.pkpic{
    margin-left: 42px;
}


section.line1{
    width: 100%;
}

section.spaced{
    padding: 10px;

}